
#RewriteEngine on

#RewriteCond %{REQUEST_URI} ^/(?!api/).*$
#RewriteRule ^(.*)$ http://localhost:3000/$1 [R,L]

#RewriteCond %{REQUEST_URI} ^/api/.*$
#RewriteRule ^(.*)$ http://localhost/public/$1 [R,L]

#ProxyRequests Off
#ProxyPass / http://localhost:3000/
#ProxyPass /api/ http://localhost/public/api/
