@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

#client {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#client_title {
    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    font-display: block;
    text-shadow: 4px 4px 4px #aaa;
    word-break: keep-all;
    user-select: none;
}

#bingocarg_container {
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2em;
    padding-top: 0px;
    border-radius: 3em;
    width: fit-content;
}

#bingocard {
    border-collapse: collapse;
}

.bingocard-head-cell {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    padding: 0px;
}

.bingocard-cell {
    border: 1px dotted white;
    vertical-align: middle;

    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    padding: 0px;
}

.bingocard-cell.free {
    font-size: 1em;
}

.bingocard-cell.hit {
    background-color: aquamarine;
    color: black;
    animation: hiteffect 1s 1;
}

.bingocard-cell.ready {
    background-color: yellowgreen;
    color: black;
    animation: flashing 1s infinite;
}

.bingocard-cell.win {
    background-color: red;
    color: white;
    animation: flashing 1s infinite;
}

@keyframes hiteffect {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    50% {
        background-color: rgba(255, 255, 255, 1);
    }

    100% {}
}

@keyframes flashing {
    0% {}

    50% {
        background-color: rgba(255, 255, 255, 1);
    }

    100% {}
}

.message {
    max-width: 600px;
    overflow-wrap: break-word;
}

.client_messagelist {
    overflow: visible scroll;
    min-width: 50vw;
}

#client_animation_container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;

    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20vw;
    font-display: block;
    text-shadow: 4px 4px 4px #aaa;
    word-break: keep-all;
    user-select: none;
}
#client_animation_container.visible{
    visibility: unset;
}

#client_animation_draw {
    height: 100%;
    display: flex;
}

#client_animation_draw>img {
    width: 100%;
    max-width: fit-content;
    object-fit: cover;
    margin: auto;
    animation: client_draw 3s 1;
}

@keyframes client_draw {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}